
.titre
{
	float:right;
	
}

.bouton_admin
{
	background-color: #00aaff;
	margin-left:20px;
	padding:10px;
	color:white;
	text-decoration: none;
	border-radius: 5px;
}

.bouton_admin:hover
{
	transform: scale(1.2);
}