h3
{
	text-align: center;
	font-size:30px;
	margin:40px 0;
	color:#00aaff;
	text-shadow: 1px 1px 1px black; 
}

.wrapper
{
	display: flex;
	font-size: 1.2rem;
	line-height: 2
}

.accueil
{
	margin:10px auto;
	width:50%;
	background-color: grey;
	border-radius: 20px;
}
.accueil ul
{
	padding-left:0;
}

.accueil ul li
{
	list-style:none;
	color:white;
}

.accueil article
{
	text-align:justify;
	font-size:1rem;
	font-weight: bold;
	color:white;
	padding:10px 50px;
}



.last_chapters
{
	width:40%;
	background-color: white;
	margin:10px auto;
	border-radius:20px;
	text-align:justify;
	
}

.extrait 
{
	border: 20px solid #fff;
	width:50%;
	background-image: url("../images/fond.png");
	background-repeat:  no-repeat;
	background-size: cover;
	margin:auto;
	padding:50px;
	margin-bottom:20px;
}

.extrait h2
{
	text-align:center;
	font-size:1.2rem;
}

.extrait p span
{
	font-size:0.9rem;
}

.extrait p
{
	margin:auto;
	margin-bottom: 20px;
	font-size:0.8rem;
}

.extrait h4
{
	margin:0;
	font-size:1.2rem;
}

.suite
{
	background-color: #496672;
	padding:10px;
	color:white;
	text-decoration: none;
	border-radius: 5px;
	font-size:0.8rem;
}

/*version tablette et smartphone*/
@media screen and (max-width: 880px) {
	.wrapper
	{
		display:block;
	}

	h1
	{
		font-size:40px;
	}

	.accueil, .last_chapters
	{
		width:90%;
	}


	.extrait, .accueil article
	{
		width:70%;
		font-size:1rem;
		text-align:left;
	}
}