/*loginView*/
#formulaire
{
	font-size:1.2rem;
	text-align:center;
	width:90%;
	margin:auto;
}	

form
{
	width:40%;
	display:inline-block;
	vertical-align: text-top;
}


#formulaire h3
{
	font-size:34px;
	text-shadow: 1px 1px 1px black;
	color:#00aaff;
	letter-spacing: 1px;
}

#formulaire input
{
	width:80%;
	height:48px;
	border-radius: 10px;
	font-size: 0.8rem;
	padding-left:10px;
}

.button
{
	cursor:pointer;
	background-color: #00aaff;
	margin-bottom:100px;
	margin-top:50px;
	color:white;
}

/*espace administration*/
.espace_admin
{
	display:flex;
	width:70%;
	margin:auto;
	flex-wrap: wrap;
}

.espace_admin div
 {
 	padding:20px;
 	margin:auto;
 	border:2px solid #496672;
 	background-color: #496672;
 	border-radius: 20px;
 	width:150px;
 	text-align:center;
 	font-size: 1.2rem;
 	margin-bottom: 50px;
 	margin-top:100px;
 	box-shadow:5px 9px 5px gray,
	-1px -1px 1px black;
}

.espace_admin div a
{
	text-decoration: none;
	color:white;
	font-size:1.3rem;
}

.espace_admin img
{
	padding:40px;	
}

.titre
{
	float:right;
	
}

.bouton_admin
{
	background-color: #00aaff;
	padding:10px;
	color:white;
	text-decoration: none;
	border-radius: 5px;
	margin-left:10px;
}

.bouton_admin:hover
{
	transform: scale(1.1);
}

/*allCommentsView*/
.allComments .comments
{
	margin:auto;
}
.contenu_comments span
{
	color:#d882ad;
}

.contenu_comments h4
{
	text-align: center;
}

.contenu_comments a
{
	padding:10px;
	text-decoration: none;
	background-color: #00aaff;
	color:white;
	margin-left:30px;
}

/*updateCommentView*/
.edition form
{
 	font-size: 1.2rem;
 	margin-bottom: 100px;
 	display:block;
 	margin:auto;
 	width:70%;
}

#modifComment input
{
	width:40%;
	padding:10px;
}

.update
{
	margin-top:40px;
}

.commentaire
{
	margin-top:20px;
}

/*updateChapter*/
#title
{
	width:99%;
	height:40px;
	font-size:1rem;
	text-align: center;
}

#newChapter
{
}

.actualiser
{
	background-color: #496672;
	margin-left:40%;
	padding:10px;
	color:white;
	text-decoration: none;
	border-radius: 5px;
	width:150px;
	margin-top:20px;
	cursor:pointer;
}

.actualiser:hover
{
	transform: scale(1.2);
}

/*newChapter*/

/*updateChapter*/

.publier
{
	background-color: #496672;
	margin-left:40%;
	padding:10px;
	color:white;
	text-decoration: none;
	border-radius: 5px;
	width:150px;
	margin-top:20px;
	cursor:pointer;
}

.publier:hover
{
	transform: scale(1.2);
}

/*version tablettePortrait*/
@media screen and (max-width: 880px) {
	form{
		display:block;
		margin:auto;
		width:80%;
	}

	#formulaire input
	{
		width:60%;
	}	
}

/*version smartphone*/
@media screen and (max-width: 600px) {
	form{
		width:100%;
	}
}